absl-py==2.3.1
accelerate==1.13.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.2
aiohttp==3.14.0
aiosignal==1.4.0
altgraph==0.17.4
ann_visualizer==2.5
annotated-doc==0.0.4
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==4.10.0
APScheduler==3.11.0
arxiv==4.0.0
asttokens==2.4.1
astunparse==1.6.3
asyncio==4.0.0
attrs==25.3.0
audioread==3.0.1
av==13.1.0
babel==2.17.0
bandit==1.9.4
bcrypt==5.0.0
beautifulsoup4==4.12.3
bidict==0.23.1
bitsandbytes==0.49.2
black==26.5.1
blinker==1.8.2
blis==0.7.11
boto3==1.43.24
botocore==1.43.24
branca==0.7.2
brotli==1.2.0
build==1.5.0
cached_path==1.8.10
cachetools==5.3.3
catalogue==2.0.10
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
chromadb==1.5.9
click==8.4.1
cloudpathlib==0.20.0
cloudpickle==3.0.0
cloup==3.0.7
cmake==3.30.0
colorama==0.4.6
comtypes==1.4.0
confection==0.1.5
contourpy==1.3.3
coqpit-config==0.1.2
coqui-tts==0.25.3
coqui-tts-trainer==0.2.2
courlan==1.4.0
cryptography==48.0.0
csvw==3.5.1
ctranslate2==4.7.2
curated-tokenizers==0.0.9
curated-transformers==0.1.1
curl_cffi==0.13.0
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
darkdetect==0.8.0
dataclasses-json==0.6.7
datasets==4.8.5
dateparser==1.1.8
ddgs==9.14.4
decorator==4.4.2
deepface==0.0.95
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dlib @ file:///C:/Users/Lenovo/Desktop/IIC/dlib-20.0.0.tar.gz#sha256=9ab6a6fe113cc36a20c3f611c57fa6a07f18d1169bd04efb85c32e21b23b7d2b
dlib-bin==19.24.6
dlinfo==2.0.0
docopt==0.6.2
docstring_parser==0.18.0
duckduckgo_search==8.1.1
durationpy==0.10
easyocr==1.7.2
edge-tts==7.2.3
einops==0.8.2
einops-exts==0.0.4
einx==0.4.3
ema-pytorch==0.7.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
espeakng-loader==0.2.4
executing==2.0.1
f5-tts==1.1.20
face-recognition==1.3.0
face_recognition_models==0.3.0
faiss-cpu==1.13.1
fake-useragent==2.2.0
Farama-Notifications==0.0.4
fastapi==0.115.14
fastembed==0.8.0
faster-whisper==1.2.1
feedparser==6.0.12
ffmpy==1.0.0
filelock==3.29.1
fire==0.7.1
Flask==3.0.3
flask-cors==6.0.1
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
folium==0.17.0
fonttools==4.59.2
frozendict==2.4.7
frozenlist==1.4.1
fsspec==2026.2.0
gast==0.6.0
gdown==5.2.0
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.50
glcontext==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.31.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.6.0
google-cloud-storage==3.11.0
google-cloud-texttospeech==2.34.0
google-crc32c==1.8.0
google-genai==1.33.0
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.10.0
google_images_download==2.8.0
googleapis-common-protos==1.75.0
gradio==6.10.0
gradio_client==2.4.0
greenlet==3.5.1
groovy==0.1.2
groq==1.4.0
grpcio==1.64.0
grpcio-status==1.62.2
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gunicorn==23.0.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
h11==0.14.0
h2==4.3.0
h5py==3.12.1
hf-gradio==0.4.1
hf-xet==1.5.0
hpack==4.1.0
htmldate==1.10.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.8.0
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
hydra-core==1.3.2
hyperframe==6.1.0
HyperPyYAML==1.2.2
idna==3.18
ijson==3.5.0
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==6.11.0
importlib_resources==7.1.0
inflect==7.5.0
inspirational_quotes==0.0.11
ipython==8.24.0
isodate==0.7.2
isosurfaces==0.1.2
itsdangerous==2.2.0
jax==0.7.1
jaxlib==0.7.1
jedi==0.19.1
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.4.2
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jusText==3.0.2
keras==3.11.3
kiwisolver==1.4.9
ko-speech-tools==0.1.0
kokoro==0.9.4
kubernetes==36.0.2
langchain==0.1.20
langchain-classic==1.0.7
langchain-community==0.0.38
langchain-core==0.1.53
langchain-protocol==0.0.16
langchain-text-splitters==0.0.2
langcodes==3.5.0
langgraph==1.2.2
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.3.15
langsmith==0.1.147
language-tags==1.2.0
language_data==1.3.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
llama_cpp_python @ https://github.com/abetlen/llama-cpp-python/releases/download/v0.3.4-cu124/llama_cpp_python-0.3.4-cp312-cp312-win_amd64.whl#sha256=f07bef42e7b1ebeaa7f54ad9550225d167fbdf81fe670345293c393c7172eb7c
llvmlite==0.43.0
loguru==0.7.3
lxml==6.1.1
lxml_html_clean==0.4.5
lyricsgenius==3.7.0
lz4==4.4.4
mando==0.7.1
manim==0.19.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.21
misaki==0.9.4
ml_dtypes==0.5.3
mlxtend==0.23.4
mmh3==5.2.1
modelscope==1.28.0
moderngl==5.12.0
moderngl-window==3.1.1
monotonic-alignment-search==0.2.1
more-itertools==11.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
mss==10.2.0
mtcnn==1.0.0
multidict==6.0.5
multiprocess==0.70.16
multitasking==0.0.12
munch==4.0.0
murmurhash==1.0.10
mutagen==1.47.0
mypy_extensions==1.1.0
namex==0.0.8
netifaces==0.11.0
networkx==2.8.8
ninja==1.13.0
nltk==3.9.1
noise==1.2.2
noneprompt==0.1.9
num2words==0.5.14
numba==0.60.0
numpy==1.26.4
oauthlib==3.3.1
omegaconf==2.3.0
onnxruntime==1.26.0
openai==1.30.3
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.13.0.92
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-grpc==1.42.1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
openwakeword==0.6.0
opt_einsum==3.4.0
optree==0.13.0
orjson==3.11.9
ormsgpack==1.12.2
outcome==1.3.0.post0
overrides==7.7.0
packaging==26.2
pandas==2.2.2
parso==0.8.4
pathspec==1.1.1
pathvalidate==3.3.1
peewee==4.0.3
pefile==2023.2.7
peft==0.19.1
periodictable==1.7.0
pexels-api-py==0.0.5
phonemizer==3.3.0
phonemizer-fork==3.3.2
pillow==11.3.0
piper-tts==1.4.2
platformdirs==4.2.2
playsound==1.3.0
pooch==1.8.2
preshed==3.0.9
primp==1.3.1
proglog==0.1.10
progressbar==2.5
prompt_toolkit==3.0.44
propcache==0.5.2
proto-plus==1.28.0
protobuf==7.35.0
psutil==7.0.0
psycopg2-binary==2.9.12
pure-eval==0.2.2
pvporcupine==3.0.2
py-cpuinfo==9.0.0
py_rust_stemmers==0.1.8
pyarrow==24.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pybase64==1.4.3
pycairo==1.28.0
pyclipper==1.4.0
pycparser==2.22
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pydub==0.25.1
pygame==2.6.0
PyGetWindow==0.0.9
PyGithub==2.9.1
pyglet==2.1.3
pyglm==2.8.2
Pygments==2.18.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.13.0
PyMsgBox==1.0.9
PyMuPDF==1.27.2.3
PyNaCl==1.6.2
pyngrok==8.1.2
PyOpenGL==3.1.10
pyparsing==3.2.3
pyperclip==1.9.0
PyPika==0.51.1
pypinyin==0.48.0
pypiwin32==223
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pyspectator==1.2.2
pytesseract==0.3.13
python-bidi==0.6.10
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-magic-bin==0.4.14
python-multipart==0.0.20
python-socketio==5.13.0
python-vlc==3.0.20123
pytokens==0.4.1
pyttsx3==2.90
pytube==15.0.0
pytubefix==8.3.2
pytweening==1.2.0
pytz==2026.2
pyvalid==1.0.4
pywhatkit==5.4
pywifi==1.1.12
pywin32==306
pywin32-ctypes==0.2.2
pywinauto==0.6.8
PyYAML==6.0.3
radon==6.0.1
rank-bm25==0.2.2
rapidfuzz==3.9.4
rdflib==7.1.3
redis==6.4.0
referencing==0.36.2
regex==2026.5.9
requests==2.34.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
RestrictedPython==8.2
retina-face==0.0.17
rfc3986==1.5.0
rich==13.9.4
rjieba==0.2.1
rpds-py==0.23.1
rsa==4.9
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
s3transfer==0.18.0
safehttpx==0.1.7
safetensors==0.7.0
scapy==2.5.0
scikit-image==0.26.0
scikit-learn==1.5.1
scipy==1.16.1
screeninfo==0.8.1
seaborn==0.13.2
segments==2.3.0
selenium==4.19.0
semantic-version==2.10.0
sentence-transformers==5.5.1
sentencepiece==0.2.1
sentry-sdk==2.59.0
setuptools==69.5.1
sgmllib3k==1.0.0
shap==0.46.0
shapely==2.1.2
shellingham==1.5.4
Shimmy==2.0.0
simple-image-download==0.5
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
skia-pathops==0.8.0.post2
slicer==0.0.8
smart-open==7.0.5
smmap==5.0.3
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.5.2
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.7.5
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.3
SpeechRecognition==3.10.4
speedtest==0.0.1
spotipy==2.25.1
SQLAlchemy==2.0.50
srsly==2.4.8
srt==3.5.3
stable_baselines3==2.3.2
stack-data==0.6.3
starlette==0.46.2
stevedore==5.8.0
style==1.1.0
styletts2==0.1.6
SudachiDict-core==20260428
SudachiPy==0.6.11
svgelements==1.9.6
sympy==1.14.0
syncedlyrics==1.0.1
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow_cpu==2.20.0
termcolor==2.5.0
textblob==0.19.0
tf_keras==2.18.0
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2026.2.24
tld==0.13.2
tokenizers==0.20.3
tomli==2.4.1
tomlkit==0.13.3
torch==2.12.0+cpu
torch-einops-utils==0.1.2
torchaudio==2.11.0
torchcodec==0.14.0
torchdiffeq==0.2.5
torchvision==0.27.0
tqdm==4.68.1
trafilatura==2.0.0
traitlets==5.14.3
transformers==4.46.0
transformers-stream-generator==0.0.5
trio==0.25.0
trio-websocket==0.11.1
trl==0.8.6
typeguard==4.5.1
typer==0.25.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==1.0.13
tzdata==2024.1
tzlocal==5.3.1
ujson==5.10.0
ultralytics==8.0.117
ultralytics-thop==2.0.14
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.7.0
uuid_utils==0.16.0
uvicorn==0.34.3
vocos==0.1.0
voices==1.2.0
vosk==0.3.45
waitress==2.1.2
wandb==0.26.1
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.2.0
wcwidth==0.2.13
weasel==0.4.1
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.0.3
wheel==0.45.0
wikipedia==1.4.0
win32_setctime==1.2.0
WMI==1.5.1
wrapt==1.16.0
wsproto==1.2.0
x-transformers==2.19.12
xxhash==3.5.0
xyzservices==2024.6.0
yarl==1.24.2
yfinance==1.2.0
yt-dlp==2026.3.17
zipp==3.20.2
zstandard==0.25.0
